---
import { getEntry } from 'astro:content'
import ExpertiseComp from './expertise'

const home = await getEntry('home', 'home')
---

<section class="bg-gradient-to-br from-primary to-secondary -mx-8">
  <ExpertiseComp entry={home} />
</section>
