svg#freepik_stories-404-error:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-404-error.animated #freepik--Clouds--inject-13 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-404-error.animated #freepik--Window--inject-13 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 1s;
}
svg#freepik_stories-404-error.animated #freepik--404--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn,
    1.5s Infinite linear wind;
  animation-delay: 0s, 2s;
}
svg#freepik_stories-404-error.animated #freepik--speech-bubble--inject-13 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0.5s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
