---
import HeroComp from './hero'
import { getEntry } from 'astro:content'

const site = await getEntry('site', 'site')
const heroContent = await getEntry('hero', 'hero')
const { Content } = await heroContent.render()
---

<section class="__hero">
  <HeroComp title={heroContent.data.title} subtitle={site.data.title}>
    <Content />
  </HeroComp>
</section>

<style lang="scss">
  .__hero {
    :global(p) {
      @apply md:text-2xl;
      @apply leading-relaxed #{!important};
    }
  }
</style>
