---
import HeroComp from './hero'
import { getEntry } from 'astro:content'
import { getImage } from 'astro:assets'

const heroContent = await getEntry('hero', 'hero')
const { Content } = await heroContent.render()

const image = await getImage({
  src: heroContent.data.image,
  width: 768,
  height: 768,
})
---

<section class="__hero">
  <HeroComp title={heroContent.data.title} image={image}>
    <Content />
  </HeroComp>
</section>

<style lang="scss">
  .__hero {
    :global(p) {
      @apply md:text-2xl 2xl:text-4xl;
      @apply leading-relaxed #{!important};
    }
  }
</style>
