---
import HeroComp from './hero'
import { getEntry } from 'astro:content'
import { getImage } from 'astro:assets'

const heroContent = await getEntry('hero', 'hero')
const { Content } = await heroContent.render()

const image = await getImage({
  src: heroContent.data.image,
  width: 300,
  height: 300,
})
---

<section>
  <HeroComp title={heroContent.data.title} image={image}>
    <Content />
  </HeroComp>
</section>
