---
import { getCollection } from 'astro:content'
import ExpertiseComp from './expertise'

const expertise = await getCollection('expertise')
---

<section class="__expertise bg-gradient-to-br from-primary to-secondary -mx-4">
  <ExpertiseComp items={expertise} />
</section>

<style lang="scss">
  .__expertise {
    :global(p) {
      @apply text-lg;
    }
  }
</style>
