---
import BaseLayout from './base.astro'
import { Main, Header } from '../common'

import '~/styles/global.scss'
import '@fontsource/red-hat-display'
import '@fontsource/red-hat-display/700.css'
import '@fontsource/red-hat-display/800.css'
---

<BaseLayout>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <Header />
  <Main>
    <slot />
  </Main>
  <script>
    import '~/assets/pwa'
  </script>
</BaseLayout>

<style lang="scss">
  @use '../../styles/fonts';

  :global(h1, h2, h3) {
    @extend %heading;
  }
</style>
