---
import BaseLayout from './base.astro'
import { Main } from '../common'

import '~/styles/global.scss'
import '@fontsource/righteous'
---

<BaseLayout>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <Main>
    <slot />
  </Main>
</BaseLayout>
