---
import menu from '~/lib/menu'
---

<div class="drawer">
  <input type="checkbox" id="main-drawer" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <slot />
  </div>
  <aside class="drawer-side">
    <label for="main-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
      {
        menu.map((item) => (
          <li>
            <a href={item.link}>
              {item.icon && <span>{item.icon}</span>}
              <span>{item.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </aside>
</div>
