---
import menu from '~/lib/menu'
import MenuIcon from '~icons/mdi/menu'
---

<header class="fixed top-0 inset-x-0">
  <nav class="navbar bg-base-100 max-w-screen-lg mx-auto">
    <div class="flex-none">
      <label class="btn btn-ghost btn-square md:hidden" for="main-drawer">
        <MenuIcon className="text-lg" />
      </label>
    </div>
    <div class="flex-1">
      <a href="/" class="title">SNGR Studio</a>
    </div>
    <div class="flex-none">
      <ul class="hidden md:menu md:menu-horizontal p-0">
        {
          menu.map((item) => (
            <li>
              <a href={item.link}>
                {item.icon && <span>{item.icon}</span>}
                <span>{item.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<style lang="scss">
  .title {
    @apply btn btn-ghost normal-case text-2xl font-bold;
  }
</style>
