---
import '~/styles/global.scss'
import "@fontsource/righteous"
import Head from '~/components/site/head.astro'
import Main from '~/components/site/main.astro'

const title = "SNGR Studio's Astro Template"
---

<html lang="id">
  <Head>
    <title>{title}</title>
    <slot name="head" />
  </Head>
  <body>
    <Main>
      <slot />
    </Main>
  </body>
</html>
