---
import BaseLayout from './base.astro'
import Header from '~/components/header'

import '~/styles/global.scss'
---

<BaseLayout>
  <!-- Head -->
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>

  <!-- Body -->
  <Fragment>
    <Header />
    <main class="flex-1 px-4">
      <slot />
    </main>
    <footer></footer>
  </Fragment>
</BaseLayout>
