---
import Layout from './layout.astro'

export interface Props {
  title: string
  subtitle?: string
  description?: string
}

const { title, subtitle, description } = Astro.props
---

<Layout title={title} description={description}>
  <article
    class="prose prose-lg xl:prose-xl max-w-screen-md mx-auto py-8 md:py-16 2xl:py-24"
  >
    <header class="my-16 md:my-24">
      {
        subtitle && (
          <span class="text-base lg:text-lg font-bold uppercase text-neutral-content">
            {subtitle}
          </span>
        )
      }
      <h1
        class="__title text-4xl lg:text-6xl !leading-tight font-black bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary"
      >
        {title}
      </h1>
    </header>
    <slot />
  </article>
</Layout>

<style lang="scss">
  @use '../styles/fonts';

  .__title {
    @extend %heading;
  }
</style>
